<div id="slider-container">
	<div class="deli-head">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
				<h3><em>"Late on Saturday night, but back for brunch Sunday morning."</em><br></h3>
			</div>
		</div>
	</div>
	<div id='slider' class='swipe'>
	  <div class='swipe-wrap'>
	    <div class="item"><div class="wakeup"></div></div>
	  </div>
	</div>
</div>