<div id="slider-container">
	<div class="deli-head">
		<div class="logo"></div>
	</div>
	<div id='slider' class='swipe'>
	  <div class='swipe-wrap'>
	    <div class="item"><div class="wakeup"></div></div>
	    <div class="item"><div class="limo"></div></div>
	    <div class="item"><div class="turkey"></div></div>
	    <div class="item"><div class="soup"></div></div>
	  </div>
	</div>
	<a class="continue" href="#section-hello">
		<h4>Continue</h4>
		<i class="fa fa-chevron-down"></i>
	</a>
</div>