<div id="header">
	<div class="container mobile-nav">
		<h1 class="logo title"><a href="/welcome/index"><img src="/assets/logo.png" /></a></h1>
		<div class="trigram">
			<i class="line"></i>
			<i class="line"></i>
			<i class="line"></i>
		</div>
		<div class="clear"></div>
		<ul class="navlinks-list mobile-navlinks-list">
    		<li id="about-link"><a href="#section-about"><span>About</span></a></li>
			<li id="glf-restaurant-order-online-nav"><a href="#"><span>Menu</span></span></a></li>
			<li id="about-link"><a href="#section-about"><span>Location</span></a></li>
			<li id="about-link"><a href="#section-about"><span>Parties</span></a></li>
			
		</ul>
	</div>
</div>